
		#container{min-height:300px;width:70%;border:2px solid blue;border-radius:10px}
		#div1{height:200px;width:30%;margin:10px;border:2px solid green;}
		#div2{height:100px;width:40%;margin:10px;border:2px solid green;}
		#div3{height:300px;width:20%;margin:10px;border:2px solid green;}
		#div2:hover{background-color:menu}
		/*div:hover{background-color:menu}*/
		